.navbar {
  font-size: 28px;
  padding-left: 0px;
  padding-right: 0px;
}

.navbar-expand-md .navbar-nav .nav-link {
  padding-left: .0rem;
  padding-right: .0rem;
}

li {
  list-style-type: none;
  text-decoration: none
}

a {
  color: #1d2124;
}
