
 h1 {
    background: linear-gradient(to left, #0096d5 0%, #0096d5 5%, #00925b 54%, #b9cb00 100%);
    -webkit-background-clip: text;
    display: inline-block;
    -webkit-text-fill-color: transparent;
  }

.data {
  color: #0096d5;
}

.title {
  color: #444444;
}