<div class="container">
    <div class="row">
        <div class="col-4">

            <img src="../assets/img/logo.png" height="81" width="219"/></div>
        <div class="col-8 text-right">


            <ul class="lang">
                <li><img src="../assets/img/gg1.png" height="34" width="33"/><a href="#" class="round-href">Написать нам</a></li>
                <li><a href="#">UA</a></li>
                <li><a href="#">RU</a></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <nav class="navbar navbar-expand-md navbar-light bg-white mb-5">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav mr-auto">

                        <li class="nav-item">
                            <a class="nav-link" href="#">HELL в Украине</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="#">HELL в мире</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Продукция</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Обучение</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Новости</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Фармаконадзор</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Контакты</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>

</div>
